.container { 
    width: 30%; 
    aspect-ratio:1/1;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    border-radius: 5px;
    flex-shrink:1;
}

.scoreText { 
    width: 50%;
    display: inline-block;
    font-size: 16px;
    color: var(--dark-grey);
}

.textContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}