.container { 
    width: 100%; 
    height: 52%;
    border-radius: 5px;
    background-color: var(--light-grey);
}

.chartInfo{ 
    display: flex;
    position: relative;
    top: 8%;
    left: 5%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-weight: 500;
    font-size: 15px;
    color: var(--chart-legend-grey);
}

.legendContainer{ 
    display: flex;
    gap: 5%;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.svgContainer { 
    display: flex;
    justify-content: center;
}

.legendText { 
    font-size: 14px;
    color: var(--dark-grey);
    font-weight: 500;
    
}

.xAxis, .xAxisLabel { 
    display: none;
}


.dayLegendText { 
    font-size: 14px;
    display: inline;
    color: var(--char-axis-legend);

}

.dayLegend { 
    display: flex;
    justify-content: space-between;
} 

.kgLegend { 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    left: 95%;
    bottom: 90%;
}